.rodape {
    background-color: #2c3e50;
    color: #ecf0f1;
    
    /* Configuração para fixar no rodapé */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
    padding: 15px 0;
    font-family: sans-serif;
    font-size: 0.9rem;
    border-top: 4px solid #3498db;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.2);
    z-index: 1000;
}

.container-rodape {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    
     /* Espalha: Sistema na esquerda, Autoras na direita */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rodape-autores span {
    font-weight: bold;
    color: #3498db; 
}

@media (max-width: 768px) {
    .container-rodape {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}